{% load static %}
<div class="container">
  <div class="chatbox">
    <div class="chatbox__support">
      <div class="chatbox__header d-flex align-items-center">
        <div class="chatbox__image--header">
          <img
            src="{% static 'images/user.png' %}"
            width="35px"
            alt="userimage"
          />
        </div>
        <div
          class="chatbox__content--header d-flex align-items-center justify-content-between flex-grow-1"
        >
          <h4 class="chatbox__heading--header mb-0">Team Chat</h4>
          <div class="ml-auto">
            <button
              class="btn btn p-1"
              type="button"
              style="background-color: darkgreen; color: white"
              id="dropdownMenu2"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <b> &#x22EE;</b>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
              <li>
                <button class="dropdown-item" type="button">
                  {{request.user.username}}
                </button>
              </li>
              <li>
                <button class="dropdown-item" type="button">
                  Another action
                </button>
              </li>
              <li>
                <button class="dropdown-item" type="button">member2</button>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="chatbox__messages" id="id_chat_item_container">
        <div class="chatbox__footer">
          <input
            type="text"
            id="id_message_send_input"
            placeholder="Write a message..."
          />
          <button
            type="sumbit"
            id="id_message_send_button send-message"
            style="color: darkgreen"
            class="btn btn"
            data-send-url="{% url 'send_message' logbook.code %}"
          >
            Send
          </button>
        </div>
      </div>
    </div>

    <div class="chatbox__button">
      <button>
        <img
          src="{% static 'images/chatbox-icon.png' %}"
          alt="chat"
          width="32px"
          height="32px"
        />
      </button>
    </div>
  </div>
</div>
<script>
  const sendMessageButton = document.getElementById("send-message");
  const sendMessageUrl = sendMessageButton.getAttribute("data-send-url");
  class InteractiveChatbox {
    constructor(a, b, c) {
      this.args = {
        button: a,
        chatbox: b,
      };
      this.state = false;
    }
    display() {
      const { button, chatbox } = this.args;
      button.addEventListener("click", () => this.toggleState(chatbox));
    }
    toggleState(chatbox) {
      this.state = !this.state;
      this.showOrHideChatBox(chatbox, this.args.button);
    }
    showOrHideChatBox(chatbox, button) {
      if (this.state) {
        chatbox.classList.add("chatbox--active");
      } else if (!this.state) {
        chatbox.classList.remove("chatbox--active");
      }
    }
  }

  const chatButton = document.querySelector(".chatbox__button");
  const chatContent = document.querySelector(".chatbox__support");

  const chatbox = new InteractiveChatbox(chatButton, chatContent);
  chatbox.display();

  const chatSocket = new WebSocket("ws://" + window.location.host + "/");
  chatSocket.onopen = function (e) {
    console.log("The connection was setup successfully !");
  };
  chatSocket.onclose = function (e) {
    console.log("Something unexpected happened !");
  };
  document.querySelector("#id_message_send_input").focus();
  document.querySelector("#id_message_send_input").onkeyup = function (e) {
    if (e.keyCode == 13) {
      document.querySelector("#id_message_send_button").click();
    }
  };

  document.querySelector("#id_message_send_button").onclick = function (e) {
    var messageInput = document.querySelector("#id_message_send_input").value;
    chatSocket.send(
      JSON.stringify({
        message: messageInput,
        username: "{{request.user.username}}",
      })
    );
    // Create a data object to send in the request
    var messageData = {
      message: messageInput,
      username: "{{request.user.username}}",
    };

    fetch(sendMessageUrl, {
      method: "POST",
      body: JSON.stringify(messageData),
      headers: {
        "Content-Type": "application/json",
        // "X-CSRFToken": getCookie("csrftoken"), // Include CSRF token if needed
      },
    })
      .then(function (response) {
        if (response.status === 200) {
          // Message sent successfully, you can handle this in your UI as needed
          console.log("Message sent successfully");
        } else {
          // Handle errors
          console.error("Error sending message");
        }
      })
      .catch(function (error) {
        console.error("Error sending message:", error);
      });
  };

  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    var div = document.createElement("div");
    div.classList.add("messages__item");
    div.classList.add("messages__item--operator");
    div.innerHTML = data.message;
    document.querySelector("#id_message_send_input").value = "";
    document.querySelector("#id_chat_item_container").appendChild(div);
  };
</script>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
  crossorigin="anonymous"
></script>
