{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  
    <!-- <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    /> -->
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/sidebar_style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="stylesheet" href="{% static 'css/QA page style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/chat.css' %}" />
  </head>
  <body class="bg-white">
    <div class="sidebar close">
      <ul class="nav-links">
        <!-- option 1: Course outline dropdown menu -->
        <br />
        <li>
          <div class="iocn-link">
            <a href="{% url 'course_outline' logbook.code %}">
              <i class="bx bx-book"></i>
              <span class="link_name">Course Outline</span>
            </a>
            <i class="bx bxs-chevron-down arrow"></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="{% url 'course_outline' logbook.code %}">Course Outline</a></li>
            <li>
              <a href="{% url 'record_of_invention' logbook.code %}"
                >Record of invention</a
              >
            </li>
            <li>
              <a href="{% url 'statement_of_originality' logbook.code %}"
                >Statment of orignality</a
              >
            </li>
            <li><a href="{% url 'step_1' logbook.code %}">Recognize</a></li>
            <li>
              <a href="{% url 'step_2' logbook.code %}">Define & make sense </a>
            </li>
            <li><a href="{% url 'step_3' logbook.code %}">Develop ideas</a></li>
            <li>
              <a href="{% url 'step_4' logbook.code %}">Go to drawing board</a>
            </li>
            <li>
              <a href="{% url 'step_5' logbook.code %}">Plan for prototyping</a>
            </li>
            <li>
              <a href="{% url 'step_6' logbook.code %}">Over to the lab</a>
            </li>
            <li><a href="{% url 'step_7' logbook.code %}">Test</a></li>
            <li>
              <a href="{% url 'step_8' logbook.code %}">Prepare to market</a>
            </li>
          </ul>
        </li>
        <!-- option 2: Notes -->
        <li>
          <a href="{% url 'notes' logbook.code %}">
            <i class="bx bx-edit"></i>
            <span class="link_name">Notes</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="{% url 'notes' logbook.code %}">Notes</a></li>
          </ul>
        </li>
        <!-- option 3: Flowchart -->
        <li>
          <a href="{% url 'flowchart' logbook.code %}">
            <i class="bx bx-sitemap"></i>
            <span class="link_name">Flowchart</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="{% url 'flowchart' logbook.code %}">Flowchart</a></li>
          </ul>
        </li>
        <!-- option 4: Preview Logbook -->
        <li>
          <a href="{% url 'chat_page' logbook.code %}">
            <i class="bx bx-chat"></i>
            <span class="link_name">Chat</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="{% url 'chat_page' logbook.code %}">Chat</a></li>
          </ul>
        </li>
        <!-- option 4: Preview Logbook -->
        <li>
          <a href="{% url 'preview_logbook' logbook.code %}">
            <i class="bx bx-book-open"></i>
            <span class="link_name">Preview Logbook</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="{% url 'preview_logbook' logbook.code %}">Preview Logbook</a></li>
          </ul>
        </li>
        <!-- option 5: Print Logbook -->
        <li>
          <a href="#">
            <i class="bx bx-printer"></i>
            <span class="link_name">Print Logbook</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Print Logbook</a></li>
          </ul>
        </li>
        <!-- option 6: Submit Logbook -->
        <li>
          <a href="#">
            <i class="bx bx-upload"></i>
            <span class="link_name">Submit Logbook</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Submit Logbook</a></li>
          </ul>
        </li>
        <!-- option 7: Exit -->
        <li>
          <a href="{% url 'logbooks' user.username %}">
            <i class="bx bx-exit"></i>
            <span class="link_name">Exit</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="{% url 'logbooks' user.username %}">Exit</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <section class="home-section bg-white">
      {% block content %} {% endblock %}
      <!-- <div class="home-content">
        <i class="bx bx-menu"></i>
      </div> -->
    </section>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/Chat.js' %}"></script>
  </body>
</html>
