{% extends 'website/header.html' %} 
{% block title %}My Logbooks{% endblock %}
{% load static %} 
{% block content %}

<style>
.code{
    font-size: 0.5em;
}
#logbooks{
  color: darkgreen;
  text-decoration: none;
}
#main-div{
  display: flex; 
  justify-content:space-around;
  }
@media only screen and (max-width: 768px) {
  .box-area {
    margin: 0 10px;
  }
  .left-box {
    height: 0px;
  }
  .right-box {
    padding: 20px;
  }
  #main-div{
    display: block;
    padding: 2em;
  }
}
</style>

<div id="main-div" class="items-center py-5">
  {% if total_logbooks %}
  <ul>
    <h1>Created Logbooks:</h1>
    {% for logbook in logbooks %}
    <li class="px-3">
      <a id="logbooks" href="{% url 'course_outline' logbook.code %}">
        <h2 class="title">{{logbook.title}} <span class="code">{{logbook.code}}</span></h2>
      </a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <h1>You haven't created any logbooks</h1>
  {% endif %}
  {% if total_logbooks %}
  <ul>
    <h1>Joined Logbooks:</h1>
    {% for logbook in logbooks %}
    <li class="px-3">
      <a id="logbooks" href="{% url 'course_outline' logbook.code %}">
        <h2 class="title">{{logbook.title}} <span class="code">{{logbook.code}}</span></h2>
      </a>
    </li>
    {% endfor %}
  </ul>
  {% else %}
  <h1>You haven't joined any logbooks</h1>
  {% endif %}
</div>
{% endblock %}
