{% extends 'website/header.html' %} {% block title %}Logbook Portal{% endblock%}
{% load static %} {% block content %}
<style>
  .card {
    width: 350px;
    height: 300px;
  }
  .close-button {
    color: white;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btns {
    box-shadow: rgb(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 130px;
  }

  .logbook_popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    /* Initially hidden */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Higher value to logbook_popup other content */
  }

  .logbook_popup1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    /* Initially hidden */
    justify-content: center;
    align-items: center;
    z-index: 9999;
    /* Higher value to logbook_popup other content */
  }

  /* Centered popup styles */
  .centered-popup {
    position: relative;
    background-color: white;
    border-radius: 10px;
    /* Increased border radius for round corners */
    padding: 20px;
    max-width: 100%;
    /* Adjust as needed */
    transform: scale(0.1);
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
  }

  /* Responsive adjustments */
  @media (max-width: 768px) {
    .centered-popup {
      max-width: 100%;
    }
  }
  .hidden {
    display: none;
  }
  #message {
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    color: green;
  }
</style>
<!-------------- student portion options--------- -->
{% include 'website/messages.html' %}
<section class="cardsection">
  <!-- Create loogbook -->
  <div class="card" onclick="openlogbook_popup()">
    <div>
      <img
        src="{% static 'images/create team.png' %}"
        class="img-fluid"
        style="height: 200px"
        alt="..."
      />
    </div>
    <br />
    <div class="btn-group">
      <button type="button" class="btn btn-outline-sucess">
        <b>CREATE LOGBOOK</b>
      </button>
    </div>
  </div>
  <!------------------ -------------------- -->
  <div class="card" onclick="openlogbook_popup1()">
    <div>
      <img
        src="{% static 'images/Collaboration-pana.png' %}"
        class="img-fluid"
        style="height: 200px"
      />
    </div>
    <br />
    <!--  Join logbook -->
    <div class="btn-group">
      <button type="button" class="btn btn-outline-sucess">
        <b>JOIN LOGBOOK</b>
      </button>
    </div>
  </div>
  <a href="{% url 'logbooks' user.username %}" style="text-decoration: none">
    <div class="card">
      <div>
        <img
          src="{% static 'images/view.png' %} "
          class="img-fluid"
          style="height: 200px"
        />
      </div>
      <br />
      <!-- Edit logbook -->
      <div class="btn-group">
        <button type="button" class="btn btn-outline-sucess">
          <b> EDIT LOGBOOK</b>
        </button>
      </div>
    </div>
  </a>
  <!------------------ end--------------------- -->
  <!-- logbook_popup for Create logbook -->
  <div class="logbook_popup" id="logbook_popup">
    <div class="centered-popup" id="popup">
      <button
        type="button"
        class="close-button"
        aria-label="Close"
        onclick="closePopup()"
      >
        &times;</button
      ><br />
      <center>
        <div class="container">
          <h1>Create Logbook</h1>
          <br />
          <form method="post">
            {% csrf_token %}
            <h4>Title:</h4>
            <h5>{{ form.title }}</h5>
            <button
              type="submit"
              class="btn text-white"
              style="background-color: darkgreen"
            >
              Create Logbook
            </button>
          </form>
          <br />
          <br />
          <h6 style="color: grey">
            Remember: This logbook can be shared with a minimum of 1 and a
            maximum of 4 members.
          </h6>
          <!-- <div id="message" class="hidden">
            <h6 style="color: rgb(177, 3, 87)">
              Congratulations! logbook has been created.
            </h6>
          </div> -->
        </div>
      </center>
    </div>
  </div>
  <!-- logbook_popup for Join logbook -->
  <div class="logbook_popup1" id="logbook_popup1">
    <div class="centered-popup" id="popup1">
      <button
        type="button"
        class="close-button"
        aria-label="Close"
        onclick="closePopup1()"
      >
        &times;
      </button>
      <center>
        <div class="container">
          <h1>Join Logbook</h1>
          <form method="post">
            {% csrf_token %}
            <h4>Title:</h4>
            <input type="text" name="join_code" id="">
            <p style="color: red">
              If you don't have one, Lets create your new
              <b
                style="text-decoration: none; cursor: pointer"
                onclick="openlogbook_popup()"
                >logbook!</b
              >
            </p>
            <button
              type="submit"
              class="btn text-white"
              style="background-color: darkgreen"
            >
              Join Logbook
            </button>
          </form>
        </div>
      </center>
    </div>
  </div>
  <script>
    let logbook_popup = document.getElementById("logbook_popup");
    let popup = document.getElementById("popup");

    let logbook_popup1 = document.getElementById("logbook_popup1");
    let popup1 = document.getElementById("popup1");

    const messageDiv = document.getElementById("message");

    function openlogbook_popup() {
      closePopup1();
      logbook_popup.style.display = "flex"; // Show the logbook_popup
      setTimeout(() => {
        popup.style.opacity = "1";
        popup.style.transform = "scale(1)"; // Open the popup with animation
      }, 50); // Add slight delay for smoother transition
    }

    function closePopup() {
      popup.style.opacity = "0";
      popup.style.transform = "scale(0.1)"; // Close the popup with animation
      setTimeout(() => {
        logbook_popup.style.display = "none"; // Hide the logbook_popup after animation
      }, 300);
    }

    function openlogbook_popup1() {
      logbook_popup1.style.display = "flex"; // Show the logbook_popup
      setTimeout(() => {
        popup1.style.opacity = "1";
        popup1.style.transform = "scale(1)"; // Open the popup with animation
      }, 50); // Add slight delay for smoother transition
    }

    function closePopup1() {
      popup1.style.opacity = "0";
      popup1.style.transform = "scale(0.1)"; // Close the popup with animation
      setTimeout(() => {
        logbook_popup1.style.display = "none"; // Hide the logbook_popup after animation
      }, 300);
    }
  </script>
  {% endblock %}
</section>
