{% extends 'website/header_2.html' %} 
{% block title %}Course Outline{% endblock %} 
{% load static %} 
{% block content %}
    <!-- second header  -->
    <nav class="navbars">
      <div class="container-fluid-nav text-center">
        <h5>COURSE OUTLINE</h5>
        <h5>{{logbook.title}}</h5>
      </div>
    </nav>
    {% include 'website/messages.html' %}
    <!-- second header ends  -->
    <!-- COURSE OUTLINE BOX -->
    <div class="py-5 text-center ">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-md-10" style="padding: 1px;">
                     
                    <a href="{% url 'record_of_invention' logbook.code %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>Record of Invention (ROI)</small>
                        </button>
                        
                    </a>
                    <br><br>
                    <a href="{% url 'statement_of_originality' logbook.code %}"> 
                        <!-- Add link of statemnt of originality-->
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>Statement of Originality</small>
                        </button>
                    </a>
                    <br><br>
                    <a href="{% url 'flowchart' logbook.code %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>Flowchart</small>
                        </button>
                    </a>  
                    <br><br>
                    <a href="{% url 'step_1' logbook.code %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>Step 1 : Identify the Problem</small>
                        </button>
                    </a>
                    <br><br>
                    <a href="{% url 'step_2' logbook.code %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>Step 2 : Define and make sense of the problem</small>
                        </button>
                    </a>
                    <br><br>
                    <a href="{% url 'step_3' logbook.code %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>Step 3 : Develop ideas and draft alternate solutions</small>
                        </button>
                    </a>
                    <br><br>
                    <a href="{% url 'step_4' logbook.code %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>Step 4 : Over to the drawing board</small>
                        </button>
                    </a>
                    <br><br>
                    <a href="{% url 'step_5' logbook.code %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>Step 5 : Plan for prototyping</small>
                        </button>
                    </a>
                    <br><br>
                    <a href="{% url 'step_6' logbook.code %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>Step 6 : Over to the laboratory</small>
                        </button>
                    </a>
                    <br><br>
                    <a href="{% url 'step_7' logbook.code %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>Step 7 : Test your prototype</small>
                        </button>
                    </a>
                    <br>
                    <br>
                    <a href="{% url 'step_8' logbook.code %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>Step 8 : Prepare to market</small>
                        </button>
                    </a>
                    <br><br>
                    <a href="{% url 'survey' logbook.code %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>Survey for Students</small>
                        </button>
                    </a>
                    <br><br>
                    <a href="{% url 'notes' logbook.code %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>Notes</small>
                        </button>
                    </a>

                </div>  
            </div>
    <!-- Question Answeer Box  Ends-->
    <!-- Buttons-->
    <div class="container">
      <div class="row">
        <div class="col-6 d-flex align-items-center justify-content-start">
          <button class="btn btn-success mr-1" type="button">
            <a href="{% url 'logbooks' user.username %}">Back</a>
          </button>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-end">
          <button class="btn btn-success mr-1" type="button">
            <a href="{% url 'record_of_invention' logbook.code %}">Next</a>
          </button>
        </div>
      </div>
    </div>
    <!-- Buttons ends-->
    {% include 'website/chat.html' %}
    {% endblock %}