{% extends 'website/header_2.html' %} 
{% block title %}Course Outline{% endblock %} 
{% load static %} 
{% block content %}
    <!-- second header  -->
    <nav class="navbars">
      <div class="container-fluid-nav text-center">
        <h5>COURSE OUTLINE</h5>
      </div>
    </nav>
    <!-- second header ends  -->
    <!-- COURSE OUTLINE BOX -->
    <div class="py-5 text-center ">
        <div class="container">
            <div class="row">
                <div class="mx-auto col-md-10" style="padding: 1px;">
                     
                    <a href="{% url 'record_of_invention' %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>Record of Invention (ROI)</small>
                        </button>
                        
                    </a>
                    <br><br>
                    <a href="{% url 'statement_of_originality' %}"> 
                        <!-- Add link of statemnt of originality-->
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>Statement of Originality</small>
                        </button>
                    </a>
                    <br><br>
                    <a href="student profile">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>All about me</small>
                        </button>
                    </a>  
                    <br><br>
                    <a href="{% url 'step_1' %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>step_ 1 : Identify the Problem</small>
                        </button>
                    </a>
                    <br><br>
                    <a href="{% url 'step_2' %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>step_ 2 : Define and make sense of the problem</small>
                        </button>
                    </a>
                    <br><br>
                    <a href="{% url 'step_3' %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>step_ 3 : Develop ideas and draft alternate solutions</small>
                        </button>
                    </a>
                    <br><br>
                    <a href="{% url 'step_4' %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>step_ 4 : Over to the drawing board</small>
                        </button>
                    </a>
                    <br><br>
                    <a href="{% url 'step_5' %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>step_ 5 : Plan for prototyping</small>
                        </button>
                    </a>
                    <br><br>
                    <a href="{% url 'step_6' %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>step_ 6 : Over to the laboratory</small>
                        </button>
                    </a>
                    <br><br>
                    <a href="{% url 'step_7' %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>step_ 7 : Test your prototype</small>
                        </button>
                    </a>
                    <br>
                    <br>
                    <a href="{% url 'step_8' %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>step_ 8 : Prepare to market</small>
                        </button>
                    </a>
                    <br><br>
                    <a href="{% url 'survey' %}">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>Survey for Students</small>
                        </button>
                    </a>
                    <br><br>
                    <a href="step_2">
                        <button style="border-radius: 20px; border-color: gray; color: darkgreen;" class="btn btn-lg btn-light w-100  fs-6">
                            <small>Notes</small>
                        </button>
                    </a>

                </div>  
            </div>

    
    <!-- Question Answeer Box  Ends-->
    <!-- Buttons-->

    <div class="container">
      <div class="row">
        <div class="col-6 d-flex align-items-center justify-content-start">
          <button class="btn btn-success mr-1" type="button">
            <a href="{% url 'student_portal' %}">Back</a>
          </button>
        </div>
        <div class="col-6 d-flex align-items-center justify-content-end">
          <button class="btn btn-success mr-1" type="button">
            <a href="record of invention">Next</a>
          </button>
        </div>
      </div>
    </div>
    <!-- Buttons ends-->
    {% endblock %}