{% extends 'website/header_2.html' %} 
{% block title %}Record Of Invention{% endblock %} 
{% load static %} 
{% block content %}
    <!-- second header  -->
    <nav class="navbars">
      <div class="container-fluid-nav text-center py-2">
        <h5>Record of Invention (ROI) Log The Invention Journey</h5>
      </div>
    </nav>
    <!-- second header ends  -->
    <!-- Question Answeer Box -->
    <div class="QA_container mb-1 p-5 bg-light">
      <div class="container">
        <center>
          <h2
            style="
              color: darkgreen;
              font-family: 'Times New Roman', Times, serif;
            "
          >
            Log The Invention Journey
          </h2>
        </center>
        <hr />
        <h5>Invention or Innovation. What’s the difference?</h5>
        <p>
          The invention involves engineering and developing a new solution,
          product, or process. When you improve upon an existing solution,
          product, or process to solve a problem (for example make it more
          convenient to increase its uses) it becomes an innovation. An
          invention is an entirely new solution to a problem, a radically
          different breakthrough that achieves a unique function. Innovation is
          an improvement over the existing solution
        </p>
        <h5>Why do inventors record their invention process?</h5>
        <p>
          All inventions have a purpose and use. An invention is complete when a
          successful prototype is ready and the inventor is confident that s/he
          can make exact copies of it. However, a prototype results from many
          steps.Inventors record every detail of these steps for many reasons,
          for example, to be able to replicate the prototype with accuracy; to
          prove that they went through those steps and so they are the legal
          inventor of the prototype and to record all learnings that happen in
          the process. This log is the recorder of your invention. Record each
          step you did, why you did what you did, how you did it, in whose
          presence you did it. Tomorrow if this invention becomes BIG, you will
          be able to use this log to prove you are the inventor. Invention log
          is also part of the patenting process.
        </p>
        <h5>How to Use this Record of Invention (ROI)?</h5>
        <p>
          The sections of this ROI follow the process of invention. As you move
          further in the process, keep recording everything, what, why, how, and
          also who and where, when applicable. One way to figure you are doing
          everything right is by making sure that you are following the sections
          in the given sequence and completing a section before moving to the
          next one. Each team/ project needs to complete one invention log.
        </p>
      </div>

      <!-- Question Answeer Box  Ends-->
      <!-- Buttons-->

      <div class="container">
        <div class="row">
          <div class="col-6 d-flex align-items-center justify-content-start">
            <button class="btn btn-success mr-1" type="button">
              <a href="{% url 'course_outline' logbook.code %}">Back</a>
            </button>
          </div>
          <div class="col-6 d-flex align-items-center justify-content-end">
            <button class="btn btn-success mr-1" type="button">
              <a href="{% url 'statement_of_originality' logbook.code %}">Next</a>
            </button>
          </div>
        </div>
      </div>
    </div>
      <!-- Buttons ends-->
    {% endblock %}
