{% extends 'website/header_2.html' %} 
{% block title %}Statement Of Originality{% endblock %} 
{% load static %} 
{% block content %}
<!-- second header  -->
<nav class="navbars">
  <div class="container-fluid-nav text-center">
    <h5>STATEMENT OF ORIGINALITY</h5>
  </div>
</nav>
<!-- second header ends  -->
<!-- Question Answeer Box -->

<div class="QA_container mb-1 p-5">
  <h1
    class="mb-3"
    style="
      font-family: 'Times New Roman', Times, serif;
      color: green;
      text-align: center;
      font-size: 1.5em;
    "
  >
    <i
      ><b
        >We certify that to the best of our knowledge, the ideas and the work
        described in this log have resulted from the work of the team signing
        off from here.</b
      ></i
    >
  </h1>
  <br />
  <br />
  <form method="post">
    {% csrf_token %}
    <div class="form-group">
      <div class="row mt-2">
        <div class="col-md-6">
          <label class="labels">
            <h1
              class="mb-3"
              style="
                font-family: 'Times New Roman', Times, serif;
                color: dark green;
                text-align: center;
                font-size: 2em;
              "
            >
              <b>The Inventor</b>
            </h1>
          </label>
          <input
            type="text"
            class="form-control"
            placeholder="Enter here"
            value="{{logbook.inventor}}"
            name="inventor"
            required
          />
        </div>
        <div class="col-md-6">
          <label class="labels">
            <h1
              class="mb-3"
              style="
                font-family: 'Times New Roman', Times, serif;
                color: dark green;
                text-align: center;
                font-size: 2em;
              "
            >
              <b>School Name & Grade</b>
            </h1>
          </label>
          <input
            type="text"
            class="form-control"
            value="{{logbook.schoolnamegrade}}"
            placeholder="Enter here"
            name="schoolnamegrade"
            required
          />
        </div>
        
        <div class="col-md-6">
          <label class="labels">
            <h1
            class="mb-3"
            style="
                font-family: 'Times New Roman', Times, serif;
                color: dark green;
                text-align: center;
                font-size: 2em;
              "
            >
              <b>Member 2</b>
            </h1>
          </label>
          <input
          type="text"
          class="form-control"
          value="{{logbook.member2}}"
          placeholder="Enter here"
          name="member2"
          
          />
        </div>
        <div class="col-md-6">
          <label class="labels">
            <h1
              class="mb-3"
              style="
                font-family: 'Times New Roman', Times, serif;
                color: dark green;
                text-align: center;
                font-size: 2em;
              "
            >
              <b>School Name & Grade</b>
            </h1>
          </label>
          <input
            type="text"
            class="form-control"
            value="{{logbook.schoolnamegrade2}}"
            placeholder="Enter here"
            name="schoolnamegrade2"
            
          />
        </div>
        <div class="col-md-6">
          <label class="labels">
            <h1
            class="mb-3"
              style="
                font-family: 'Times New Roman', Times, serif;
                color: dark green;
                text-align: center;
                font-size: 2em;
              "
            >
              <b>Member 3</b>
            </h1>
          </label>
          <input
            type="text"
            class="form-control"
            value="{{logbook.member3}}"
            placeholder="Enter here"
            name="member3"
            
          />
        </div>
        <div class="col-md-6">
          <label class="labels">
            <h1
              class="mb-3"
              style="
                font-family: 'Times New Roman', Times, serif;
                color: dark green;
                text-align: center;
                font-size: 2em;
              "
            >
              <b>School Name & Grade</b>
            </h1>
          </label>
          <input
            type="text"
            class="form-control"
            value="{{logbook.schoolnamegrade3}}"
            placeholder="Enter here"
            name="schoolnamegrade3"
            
          />
        </div>
        <div class="col-md-6">
          <label class="labels">
            <h1
              class="mb-3"
              style="
                font-family: 'Times New Roman', Times, serif;
                color: dark green;
                text-align: center;
                font-size: 2em;
              "
            >
              <b>Member 4</b>
            </h1>
          </label>
          <input
            type="text"
            class="form-control"
            value="{{logbook.member4}}"
            placeholder="Enter here"
            name="member4"
            
          />
        </div>
        <div class="col-md-6">
          <label class="labels">
            <h1
              class="mb-3"
              style="
                font-family: 'Times New Roman', Times, serif;
                color: dark green;
                text-align: center;
                font-size: 2em;
              "
            >
              <b>School Name & Grade</b>
            </h1>
          </label>
          <input
            type="text"
            class="form-control"
            value="{{logbook.schoolnamegrade4}}"
            placeholder="Enter here"
            name="schoolnamegrade4"
            
          />
        </div>
        <div class="col-md-6">
          <label class="labels">
            <h1
              class="mb-3"
              style="
                font-family: 'Times New Roman', Times, serif;
                color: dark green;
                text-align: center;
                font-size: 2em;
              "
            >
              <b>Member 5</b>
            </h1>
          </label>
          <input
            type="text"
            class="form-control"
            value="{{logbook.member5}}"
            placeholder="Enter here"
            name="member5"
            
          />
        </div>
        <div class="col-md-6">
          <label class="labels">
            <h1
              class="mb-3"
              style="
                font-family: 'Times New Roman', Times, serif;
                color: dark green;
                text-align: center;
                font-size: 2em;
              "
            >
              <b>School Name & Grade</b>
            </h1>
          </label>
          <input
            type="text"
            class="form-control"
            value="{{logbook.schoolnamegrade5}}"
            placeholder="Enter here"
            name="schoolnamegrade5"
            
          />
        </div>
        <div class="col-md-6">
          <label class="labels">
            <h1
              class="mb-3"
              style="
                font-family: 'Times New Roman', Times, serif;
                color: dark green;
                text-align: center;
                font-size: 2em;
              "
            >
              <b>Member 6</b>
            </h1>
          </label>
          <input
            type="text"
            class="form-control"
            value="{{logbook.member6}}"
            placeholder="Enter here"
            name="member6"
            
          />
        </div>
        <div class="col-md-6">
          <label class="labels">
            <h1
              class="mb-3"
              style="
                font-family: 'Times New Roman', Times, serif;
                color: dark green;
                text-align: center;
                font-size: 2em;
              "
            >
              <b>School Name & Grade</b>
            </h1>
          </label>
          <input
            type="text"
            class="form-control"
            value="{{logbook.schoolnamegrade6}}"
            placeholder="Enter here"
            name="schoolnamegrade6"
            
          />
        </div>
        <div class="col-md-6">
          <label class="labels">
            <h1
              class="mb-3"
              style="
                font-family: 'Times New Roman', Times, serif;
                color: dark green;
                text-align: center;
                font-size: 2em;
              "
            >
              <b>Signatures</b>
            </h1>
          </label>
          <input
            type="text"
            class="form-control"
            placeholder="Member 1"
            value="{{logbook.sig1}}"
            name="sig1"
            
          />
          <br />
          <input
            type="text"
            class="form-control"
            placeholder="Member 3"
            value="{{logbook.sig3}}"
            name="sig3"
          />
          <br/>
          <input
            type="text"
            class="form-control"
            placeholder="Member 5"
            value="{{logbook.sig5}}"
            name="sig5"
          />
        </div>
        <div class="col-md-6">
          <label class="labels">
            <h1
              class="mb-3"
              style="
                font-family: 'Times New Roman', Times, serif;
                color: white;
                text-align: center;
                font-size: 2em;
              "
            >
              <b>&nbsp;</b>
            </h1>
          </label>
          <input
            type="text"
            class="form-control"
            value="{{logbook.sig2}}"
            placeholder="Member 2"
            name="sig2"
          />
          <br />
          <input
            type="text"
            class="form-control"
            placeholder="Member 4"
            value="{{logbook.sig4}}"
            name="sig4"
          />
          <br />
          <input
            type="text"
            class="form-control"
            placeholder="Member 6"
            value="{{logbook.sig6}}"
            name="sig6"
          />
        </div>
      </div>
    </div>
    <br>
    
    <!-- Question Answeer Box  Ends-->
    <!-- Buttons-->

    <div class="container">
      <div class="row">
        <div class="col-6 d-flex align-items-center justify-content-start">
          <button class="btn btn-success mr-1" type="button">
            <a href="{% url 'record_of_invention' logbook.code %}">Back</a>
          </button>
          {% include 'website/buttons.html' %}
        </form>
        {% include 'website/chat.html' %}
</div>
<!-- Buttons ends-->
{% endblock %}
