{% extends 'website/profile.html' %} 
{% block title %}Teacher Profile{% endblock %} 
{% load static %} 
{% block content %}
                <div class="col-md-12">
                  <label class="labels">I am Excited acout:</label
                  ><input
                    type="text"
                    class="form-control"
                    placeholder=""
                    value="{{student.excited_about}}"
                    name="excited"
                  />
                </div>
                <div class="col-md-12">
                  <label class="labels">During my free time I like to do:</label
                  ><input
                    type="text"
                    class="form-control"
                    placeholder=""
                    value="{{student.free_time}}"
                    name="time"
                  />
                </div>
                <div class="col-md-12">
                  <label class="labels">My favourite book is:</label
                  ><input
                    type="text"
                    class="form-control"
                    placeholder=""
                    value="{{student.fav_book}}"
                    name="book"
                  />
                </div>
                <div class="col-md-12">
                  <label class="labels">My favourite food is:</label
                  ><input
                    type="text"
                    class="form-control"
                    placeholder=""
                    value="{{student.fav_food}}"
                    name="food"
                  />
                </div>
              </div>
            </div>
            <!-- Buttons-->
            <div class="container">
              <div class="row">
                <div
                  class="col-6 d-flex align-items-center justify-content-start"
                >
                  <a href="{% url 'student_portal' %}">
                    <button
                      class="btn btn-primary profile-button"
                      type="button"
                    >
                      Go Back
                    </button></a
                  >
                </div>
                <div
                  class="col-6 d-flex align-items-center justify-content-end"
                >
                  <a href="{% url 'student_portal' %}">
                    <button
                      class="btn btn-primary profile-button"
                      type="submit"
                    >
                      Save Profile
                    </button>{% endblock content %}
