{% extends 'website/header_2.html' %} 
{% block title %}Survey{% endblock %} 
{% load static %} 
{% block content %}
    <!-- second header  -->
    <nav class="navbars">
      <div class="container-fluid-nav text-center">
        <h3>SURVEY FOR STUDENTS</h3>
      </div>
    </nav>
    <!-- second header ends  -->
    <!-- Question Answeer Box -->
    <div
      class="QA_container mb-1 p-5"
      style="background-color: rgb(201, 229, 197)"
    >
      <form>
        <div class="form-group">
          <label class="form-label" for="inputlg"
            ><b
              >Your opinion matters! So please take your time and tell us about
              your experience with EMUiNVENT</b
            ></label
          ><br />
          <br />
          <label class="form-label" for="inputlg"
            >A. Three activities I enjoyed were:</label
          >
          <textarea
            class="form-control"
            rows="2"
            style="
              height: 100%;
              font-family: 'Times New Roman', Times, serif;
              font-size: 19px;
            "
            placeholder="Your Answer"
            name="things_enjoyed"
          ></textarea>
        </div>
        <div class="form-group">
          <label class="form-label" for="inputlg"
            >B. Two people I want to thank (teachers, mentors, teammates):
          </label>
          <textarea
            class="form-control"
            rows="2"
            style="
              height: 100%;
              font-family: 'Times New Roman', Times, serif;
              font-size: 19px;
            "
            placeholder="Your Answer"
            name="thanking"
          ></textarea>
        </div>
        <div class="form-group">
          <label class="form-label" for="inputlg"
            >C. One thing I found difficult or I would change:
          </label>
          <textarea
            class="form-control"
            rows="2"
            style="
              height: 100%;
              font-family: 'Times New Roman', Times, serif;
              font-size: 19px;
            "
            placeholder="Your Answer"
            name="difficulty"
          ></textarea>
        </div>
        <div></div>
        <div class="form-group">
          <label class="form-label" for="inputlg"
            >D. In the future I would like to...
          </label>
          <textarea
            class="form-control"
            rows="2"
            style="
              height: 100%;
              font-family: 'Times New Roman', Times, serif;
              font-size: 19px;
            "
            placeholder="Your Answer"
            name="future"
          ></textarea>
        </div>
        <div></div>
      </form>
    </div>

    <!-- Question Answeer Box  Ends-->
    <!-- Buttons-->

    <div class="container">
      <div class="row">
        <div class="col-6 d-flex align-items-center justify-content-start">
          <button class="btn btn-success mr-1" type="button">
            <a href="{% url 'step_8' logbook.code %}">Back</a>
          </button>
          {% include 'website/buttons.html' %}
    <!-- Buttons ends-->
    {% endblock %}
