<!DOCTYPE html>
<html>
<head>
  <title>Untitled Note</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="style.css"> 
</head>

<body>

<!-- main header -->

    <div class="header">
        <div class="logo">
            <img src="logbook.png" alt="Logo" width="40PX" height="40px"> 
        </div>      
    </div> 

<!-- main header ends -->

<!-- second header  -->

    <nav class="navbars">
  <div class="container-fluid-nav text-center">
    <h5>Notes</h5>
  </div>
</nav> 

 <!-- second header ends  -->

 <!-- Add new icon -->

 <div class="container col-12 p-2" style="text-align: right;">
    <a href="notes.html">
        <button type="button" class="btn btn-success icon-button" style="border-radius: 20%;">
            <i class='bx bx-plus' style="color:white; font-size: 20px;"></i>
          </button>
    </a>
  </div>      

 <!-- Notes section -->
 
 <div class="QA_container mb-1 p-1">
    <div class="btn-group w-100" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-success w-75" style="text-align: left;" >Untitled Note</button>
        <!-- <button type="button" class="btn btn-success icon-button">
          <i class='bx bxs-edit icon'></i>
        </button> -->
        <button type="button" class="btn btn-success icon-button">
          <i class='bx bxs-trash icon'></i>
        </button>
      </div>
 </div>

  <!-- Buttons ends-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>