{% extends 'website/header.html' %} 
{% block title %}Team Portal{% endblock %} 
{% load static %} 
{% block content %}
<div class="py-5 text-center">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-md-12">
        <h5 class="mb-3" style="font-family: 'Times New Roman', Times, serif">
          OOPS! YOU ARE NOT MEMBER OF ANY TEAM
        </h5>
        <div class="mx-auto col-md-12" style="padding: 50px">
          <img src="{% static 'images/view team.png' %}" />
        </div>
        <a href="{% url 'team_portal' %}">
        <div class="mx-auto col-md-10" style="padding: 70px">
          <button
            style="border-radius: 20px; border-color: gray; color: darkgreen"
            class="btn btn-lg btn-light w-100 fs-6"
          >
            <small>Go back to join / create new team</small>
          </button>
        </div></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
